body {
  padding-top: 50px;
}

body > .container {
  padding-bottom: 20px;
}

table {
  border-collapse: ;
  border-spacing: ;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.locate-button {
  position: absolute;
  top: 162px;
  left: 16px;
  z-index: 50;
}

.geocoder {
  display: block;
  position: absolute;
  z-index: 2;
  top: 65px;
  right: 15px;
}

.HomeButton {
  position: absolute;
  top: 130px;
  left: 16px;
  z-index: 50;
}
