<div class="esriMeasurement">
  <div dojoType='dijit.layout.ContentPane' dojoAttachPoint='buttonPane' class='esriMeasurementButtonPane'>
    <div dojoType='dijit.form.ToggleButton' baseClass='esriButton' dojoAttachPoint='area' checked='false' iconClass='areaIcon' showLabel='false' dojoAttachEvent='onClick:areaToggleButton'></div>
    <div dojoType='dijit.form.ToggleButton' baseClass='esriButton' dojoAttachPoint='distance' iconClass='distanceIcon' showLabel='false' dojoAttachEvent='onClick:distanceToggleButton'></div>
    <div dojoType='dijit.form.ToggleButton' baseClass='esriButton' dojoAttachPoint='location' iconClass='locationIcon' showLabel='false' dojoAttachEvent='onClick:locationToggleButton'></div>
    <div class="esriMeasurementSeparator">|</div>
    <button dojoType='dijit.form.DropDownButton' baseClass='esriToggleButton' dojoAttachPoint='unit' label='unit' value='unit' style='visibility:hidden;'></button>
  </div>
  <div dojoType='dijit.layout.ContentPane' dojoAttachPoint='resultLabel' class='resultLabel esriMeasurementResultLabel'></div>
  <div dojoType='dijit.layout.ContentPane' dojoAttachPoint='resultValue' align='leading' class='result esriMeasurementResultValue'></div>
  <div dojoType='dijit.layout.ContentPane' dojoAttachPoint='resultTable' align='leading' class="resultTable esriMeasurementTableContainer" style="display:none;">
    <table class="esriMeasurementResultTable">
      <tr>
        <td class="esriMeasurementTableHeader" colspan="2">${NLS_Lon}</td><td class="esriMeasurementTableHeader">${NLS_Lat}</td>
      </tr>
      <tr class="esriMeasurementTableRow">
        <td dojoAttachPoint="mouseCell"></td>
        <td class="esriMeasurementTableCell">
          <span dojoAttachPoint="mouseLongitude" dir='ltr'></span>
        </td>
        <td class="esriMeasurementTableCell">
          <span dojoAttachPoint="mouseLatitude" dir='ltr'></span>
        </td>
      </tr>
      <tr class="esriMeasurementTableRow">
        <td dojoAttachPoint="pinCell"></td>
        <td class="esriMeasurementTableCell">
          <span dojoAttachPoint="markerLongitude" dir='ltr'></span>
        </td>
        <td class="esriMeasurementTableCell">
          <span dojoAttachPoint="markerLatitude" dir='ltr'></span>
        </td>
      </tr>
    </table>
  </div>
</div>