@import url("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");
@import url("//js.arcgis.com/3.9/js/esri/css/esri.css");
@import url("../components/bootstrapmap/bootstrapmap.css");

body {
  padding-top: 50px;
}

body > .container {
  padding-bottom: 20px;
}

table {
  border-collapse: ;
  border-spacing: ;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#LocateButton {
  position: absolute;
  top: 65px;
  right: 15px;
  z-index: 50;
}

#search {
	display: block;
	position: absolute;
	z-index: 2;
  top: 65px;
  right: 60px;
}